@import "../../styles/variables.scss";
.signIn {
  &__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
  }

  &__title {
    font-size: clamp(50px, 4vw, 60px);
    font-weight: 700;
    letter-spacing: 1.2px;
    color: transparent;
    -webkit-text-stroke: 2px rgba(255, 255, 255, 1);
    text-align: center;
    margin-top: 112px;
    @media (max-width: 850.98px) {
      margin-top: 50px;
    }
  }

  &__block {
    position: relative;
    max-width: 1154px;
    width: 100%;
    display: flex;
    justify-content: flex-end;

    @media (max-width: 850.98px) {
      height: 600px;
    }
  }

  &__left {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  &__right {
    position: relative;
    z-index: 1;
    width: 50%;
    height: 100%;
    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-height: 807px;

    @media (max-width: 809.98px) {
      width: 100%;
      border-radius: 20px;
    }
  }

  &__picture {
    width: 100%;
    @media (max-width: 890.98px) {
      border-radius: 27px;
    }
    @media (max-width: 850.98px) {
      height: 600px;
    }
    @media (max-width: 809.98px) {
      border-radius: 20px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;

  &__inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 92px;
    row-gap: 35px;
    @media (max-width: 850.98px) {
      margin-top: 52px;
      row-gap: 22px;
    }

    & input {
      font-size: clamp(20px, 4vw, 24px);
      font-weight: 500;
      background-color: inherit;
      width: 100%;
      padding: 10px;
      border: none;

      outline: none;
      border-bottom: 3px solid rgb(255, 255, 255);

      &::placeholder {
        color: rgb(223, 223, 223);
        opacity: 1;
      }
    }
  }

  &__checkbox {
    display: flex;
    align-self: flex-start;
    height: 52px;
    & p {
      display: block;
      font-size: clamp(20px, 4vw, 24px);
      font-weight: 500;
    }

    & input {
      width: 22px;
      height: 22px;
      margin-right: 20px;
      outline: none;
    }
  }

  &__undertext {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
    & span a {
      color: #db8dff;
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }

  & Button {
    margin-top: 93px;
    margin-bottom: 72px;

    @media (max-width: 1200.98px) {
      margin-bottom: 80px;
    }

    @media (max-width: 850.98px) {
      margin-top: 32px;
      margin-bottom: 52px;
    }
  }
}
